

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom:0px;">
  <a class="navbar-brand" href="<%=home_index_path%>">Mi Pinterest</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li>
        <a class="nav-link" href="<%=pins_path%>">Pin <span class="sr-only">(current)</span></a>
      </li>
      <% if current_user.nil? %>
      <li class="nav-item"><a class="nav-link" href="<%=new_user_session_path%>">Ingreso</a></li>
      <li class="nav-item"><a class="nav-link" href="<%=new_user_registration_path%>">Registro</a></li>
        <% else %>
      <li class="nav-item">
        <a class="nav-link" <%=link_to "Salir", destroy_user_session_path, method: :delete%> </li>
      </li>
         <% end %>
    </ul>

  </div>
</nav>
